In [ ]:
import numpy as np
import torch
import sys
import os

data_path = '/root/Low_Dimension_KGC/data/FB15k-237'
train_data_path = data_path + '/train'

triples = []
query_dict = {}

entity_num = 14541
relation_num = 237

with open(train_data_path) as fin:
    for line in fin:
        h, r, t = line.strip().split('\t')
        triples.append((int(h), int(r), int(t)))
        triples.append((int(t), int(r)+relation_num, int(h)))
        
        if (int(h), int(r)) not in query_dict:
            query_dict[(int(h), int(r))] = []
        query_dict[(int(h), int(r))].append(int(t))
        
        if (int(t), int(r)+relation_num) not in query_dict:
            query_dict[(int(t), int(r)+relation_num)] = []
        query_dict[(int(t), int(r)+relation_num)].append(int(h))

print('所有的三元组共有：', len(triples), '个')
print('不同的query共有：', len(query_dict), '个')

所有的三元组共有： 544230 个
不同的query共有 149689 个

In [2]:
""""
把在trainset中的query筛选出来,每个query只出现以此就可以
"""

import numpy as np
import torch
import sys
import os

data_path = '/root/Low_Dimension_KGC/data/FB15k-237'
train_data_path = data_path + '/train'

query_aware_triples = []
query_dict = {}

entity_num = 14541
relation_num = 237

with open(train_data_path) as fin:
    for line in fin:
        h, r, t = line.strip().split('\t')
        h, r, t = int(h), int(r), int(t)
        if (h,r)not in query_dict:
            query_aware_triples.append((h,r,t))
            query_dict[(h,r)] = True
        
        if(t, r+relation_num) not in query_dict:
            query_aware_triples.append((t, r+relation_num, h))
            query_dict[(t, r+relation_num)] = True

        
output_file_path = os.path.join(data_path, 'single_query.txt')

# Writing the triples to the output file
with open(output_file_path, 'w') as fout:
    for triple in query_aware_triples:
        fout.write(f"{triple[0]}\t{triple[1]}\t{triple[2]}\n")

print(f"Unique Query have been successfully written to {output_file_path}")

Query-aware triples have been successfully written to /root/Low_Dimension_KGC/data/FB15k-237/single_query.txt

In [ ]:
""""
生成关系感知负采样样本
"""

import numpy as np
import torch
import sys
import os

data_path = '/root/Low_Dimension_KGC/data/FB15k-237'
train_data_path = data_path + '/train'

triples = []
query_dict = {}
rt_dict = {}

entity_num = 14541
relation_num = 237

with open(train_data_path) as fin:
    for line in fin:
        h, r, t = line.strip().split('\t')
        h, r, t = int(h), int(r), int(t)
        triples.append((h, r, t))
        triples.append((t, r+relation_num, h))
        
        if r not in rt_dict:
            rt_dict[r] = []
        rt_dict[r].append(t)
        
        if (r+relation_num) not in rt_dict:
            rt_dict[r+relation_num] = []
        rt_dict[r+relation_num].append(h)
        
        if (h, r) not in query_dict:
            query_dict[(h, r)] = []
        query_dict[(h, r)].append(t)
        
        if (t, r+relation_num) not in query_dict:
            query_dict[(t, r+relation_num)] = []
        query_dict[(t, r+relation_num)].append(h)


output_path = os.path.join(data_path, 'rt_dict.txt')  # 输出文件路径

# 按照关系 r 的大小排序
sorted_rt_dict = sorted(rt_dict.items(), key=lambda x: x[0])

# 统计每个 r 的 tail 数量
tail_counts = []

with open(output_path, 'w') as fout:
    for r, tails in sorted_rt_dict:
        # 写入文件
        line = f"{r}\t" + '\t'.join(map(str, tails)) + '\n'
        fout.write(line)

        # 记录每个 r 对应的 tail 数量
        tail_counts.append(len(tails))

# 计算统计信息
tail_counts_np = np.array(tail_counts)
total_relations = len(tail_counts)
stats = {
    "total_relations": total_relations,
    "min_tails": tail_counts_np.min(),
    "max_tails": tail_counts_np.max(),
    "mean_tails": tail_counts_np.mean(),
    "median_tails": np.median(tail_counts_np)
}

# 打印统计信息
print(f"Total relations: {stats['total_relations']}")
print(f"Min tails per relation: {stats['min_tails']}")
print(f"Max tails per relation: {stats['max_tails']}")
print(f"Mean tails per relation: {stats['mean_tails']:.2f}")
print(f"Median tails per relation: {stats['median_tails']:.2f}")

print(f"rt_dict has been written to {output_path}")

In [4]:
# 统计每个 query 的答案数量
single_answer_count = 0  # 记录只有一个答案的 query 数量
multiple_answers_count = 0  # 记录有多个答案的 query 数量

for query, answers in query_dict.items():
    if len(answers) == 1:
        single_answer_count += 1
    elif len(answers) > 1:
        multiple_answers_count += 1

# 打印统计结果
print(f"训练集中只有答案的query有: {single_answer_count}个")
print(f"训练集中有多个答案的query有: {multiple_answers_count}个")


from collections import defaultdict

# 初始化一个字典来统计答案数量的分布
answer_count_distribution = defaultdict(int)

# 遍历 query_dict，统计每个 query 的答案数量
for query, answers in query_dict.items():
    answer_count_distribution[len(answers)] += 1

# 打印统计结果
print("Answer count distribution:")
for answer_count, query_count in sorted(answer_count_distribution.items()):
    print(f"Queries with {answer_count} answer(s): {query_count}")

训练集中只有答案的query有: 88518个
训练集中有多个答案的query有: 61171个
Answer count distribution:
Queries with 1 answer(s): 88518
Queries with 2 answer(s): 20787
Queries with 3 answer(s): 11502
Queries with 4 answer(s): 7169
Queries with 5 answer(s): 4394
Queries with 6 answer(s): 3129
Queries with 7 answer(s): 2235
Queries with 8 answer(s): 1734
Queries with 9 answer(s): 1427
Queries with 10 answer(s): 1100
Queries with 11 answer(s): 943
Queries with 12 answer(s): 761
Queries with 13 answer(s): 602
Queries with 14 answer(s): 613
Queries with 15 answer(s): 456
Queries with 16 answer(s): 379
Queries with 17 answer(s): 343
Queries with 18 answer(s): 262
Queries with 19 answer(s): 234
Queries with 20 answer(s): 225
Queries with 21 answer(s): 199
Queries with 22 answer(s): 159
Queries with 23 answer(s): 169
Queries with 24 answer(s): 140
Queries with 25 answer(s): 87
Queries with 26 answer(s): 104
Queries with 27 answer(s): 83
Queries with 28 answer(s): 85
Queries with 29 answer(s): 64
Queries with 30 answer(s): 73
Queries with 31 answer(s): 68
Queries with 32 answer(s): 65
Queries with 33 answer(s): 66
Queries with 34 answer(s): 52
Queries with 35 answer(s): 48
Queries with 36 answer(s): 47
Queries with 37 answer(s): 49
Queries with 38 answer(s): 52
Queries with 39 answer(s): 47
Queries with 40 answer(s): 51
Queries with 41 answer(s): 41
Queries with 42 answer(s): 30
Queries with 43 answer(s): 54
Queries with 44 answer(s): 24
Queries with 45 answer(s): 31
Queries with 46 answer(s): 36
Queries with 47 answer(s): 32
Queries with 48 answer(s): 39
Queries with 49 answer(s): 28
Queries with 50 answer(s): 29
Queries with 51 answer(s): 32
Queries with 52 answer(s): 30
Queries with 53 answer(s): 27
Queries with 54 answer(s): 19
Queries with 55 answer(s): 12
Queries with 56 answer(s): 23
Queries with 57 answer(s): 18
Queries with 58 answer(s): 18
Queries with 59 answer(s): 11
Queries with 60 answer(s): 16
Queries with 61 answer(s): 11
Queries with 62 answer(s): 12
Queries with 63 answer(s): 12
Queries with 64 answer(s): 15
Queries with 65 answer(s): 13
Queries with 66 answer(s): 15
Queries with 67 answer(s): 15
Queries with 68 answer(s): 6
Queries with 69 answer(s): 16
Queries with 70 answer(s): 8
Queries with 71 answer(s): 13
Queries with 72 answer(s): 7
Queries with 73 answer(s): 11
Queries with 74 answer(s): 13
Queries with 75 answer(s): 8
Queries with 76 answer(s): 8
Queries with 77 answer(s): 9
Queries with 78 answer(s): 10
Queries with 79 answer(s): 9
Queries with 80 answer(s): 5
Queries with 81 answer(s): 2
Queries with 82 answer(s): 5
Queries with 83 answer(s): 7
Queries with 84 answer(s): 5
Queries with 85 answer(s): 8
Queries with 86 answer(s): 4
Queries with 87 answer(s): 5
Queries with 88 answer(s): 3
Queries with 89 answer(s): 4
Queries with 90 answer(s): 5
Queries with 92 answer(s): 3
Queries with 93 answer(s): 5
Queries with 94 answer(s): 2
Queries with 95 answer(s): 6
Queries with 96 answer(s): 5
Queries with 97 answer(s): 1
Queries with 98 answer(s): 4
Queries with 99 answer(s): 4
Queries with 100 answer(s): 2
Queries with 101 answer(s): 4
Queries with 102 answer(s): 3
Queries with 103 answer(s): 6
Queries with 104 answer(s): 4
Queries with 105 answer(s): 4
Queries with 106 answer(s): 1
Queries with 107 answer(s): 3
Queries with 108 answer(s): 2
Queries with 109 answer(s): 8
Queries with 110 answer(s): 3
Queries with 111 answer(s): 1
Queries with 112 answer(s): 4
Queries with 113 answer(s): 4
Queries with 114 answer(s): 3
Queries with 115 answer(s): 1
Queries with 116 answer(s): 2
Queries with 117 answer(s): 4
Queries with 118 answer(s): 3
Queries with 119 answer(s): 2
Queries with 120 answer(s): 1
Queries with 121 answer(s): 2
Queries with 122 answer(s): 2
Queries with 123 answer(s): 3
Queries with 124 answer(s): 5
Queries with 125 answer(s): 2
Queries with 126 answer(s): 5
Queries with 127 answer(s): 3
Queries with 128 answer(s): 2
Queries with 129 answer(s): 4
Queries with 130 answer(s): 2
Queries with 131 answer(s): 2
Queries with 132 answer(s): 1
Queries with 133 answer(s): 7
Queries with 135 answer(s): 4
Queries with 137 answer(s): 1
Queries with 138 answer(s): 4
Queries with 139 answer(s): 2
Queries with 140 answer(s): 2
Queries with 141 answer(s): 3
Queries with 142 answer(s): 2
Queries with 143 answer(s): 2
Queries with 145 answer(s): 2
Queries with 147 answer(s): 1
Queries with 148 answer(s): 3
Queries with 149 answer(s): 3
Queries with 151 answer(s): 2
Queries with 152 answer(s): 2
Queries with 153 answer(s): 2
Queries with 155 answer(s): 1
Queries with 156 answer(s): 2
Queries with 157 answer(s): 1
Queries with 158 answer(s): 1
Queries with 159 answer(s): 1
Queries with 160 answer(s): 1
Queries with 161 answer(s): 3
Queries with 163 answer(s): 1
Queries with 164 answer(s): 1
Queries with 165 answer(s): 5
Queries with 167 answer(s): 2
Queries with 168 answer(s): 2
Queries with 169 answer(s): 2
Queries with 170 answer(s): 3
Queries with 171 answer(s): 2
Queries with 172 answer(s): 1
Queries with 173 answer(s): 1
Queries with 174 answer(s): 1
Queries with 175 answer(s): 1
Queries with 176 answer(s): 1
Queries with 177 answer(s): 1
Queries with 179 answer(s): 2
Queries with 180 answer(s): 2
Queries with 181 answer(s): 2
Queries with 185 answer(s): 3
Queries with 186 answer(s): 1
Queries with 189 answer(s): 1
Queries with 190 answer(s): 1
Queries with 191 answer(s): 3
Queries with 192 answer(s): 1
Queries with 193 answer(s): 1
Queries with 194 answer(s): 1
Queries with 195 answer(s): 1
Queries with 197 answer(s): 1
Queries with 198 answer(s): 1
Queries with 202 answer(s): 1
Queries with 203 answer(s): 1
Queries with 205 answer(s): 2
Queries with 209 answer(s): 1
Queries with 211 answer(s): 1
Queries with 212 answer(s): 1
Queries with 213 answer(s): 2
Queries with 215 answer(s): 1
Queries with 216 answer(s): 1
Queries with 218 answer(s): 1
Queries with 224 answer(s): 1
Queries with 225 answer(s): 2
Queries with 229 answer(s): 1
Queries with 230 answer(s): 1
Queries with 233 answer(s): 1
Queries with 237 answer(s): 1
Queries with 239 answer(s): 1
Queries with 241 answer(s): 1
Queries with 242 answer(s): 1
Queries with 243 answer(s): 1
Queries with 244 answer(s): 1
Queries with 246 answer(s): 1
Queries with 249 answer(s): 1
Queries with 253 answer(s): 2
Queries with 254 answer(s): 1
Queries with 256 answer(s): 1
Queries with 257 answer(s): 2
Queries with 258 answer(s): 1
Queries with 260 answer(s): 2
Queries with 264 answer(s): 1
Queries with 269 answer(s): 1
Queries with 270 answer(s): 1
Queries with 271 answer(s): 1
Queries with 272 answer(s): 1
Queries with 282 answer(s): 1
Queries with 286 answer(s): 1
Queries with 290 answer(s): 1
Queries with 291 answer(s): 2
Queries with 292 answer(s): 2
Queries with 295 answer(s): 1
Queries with 296 answer(s): 1
Queries with 297 answer(s): 1
Queries with 298 answer(s): 1
Queries with 299 answer(s): 1
Queries with 302 answer(s): 1
Queries with 304 answer(s): 1
Queries with 305 answer(s): 1
Queries with 312 answer(s): 1
Queries with 313 answer(s): 1
Queries with 317 answer(s): 1
Queries with 318 answer(s): 1
Queries with 320 answer(s): 1
Queries with 323 answer(s): 1
Queries with 324 answer(s): 1
Queries with 326 answer(s): 1
Queries with 327 answer(s): 1
Queries with 328 answer(s): 1
Queries with 332 answer(s): 1
Queries with 333 answer(s): 1
Queries with 335 answer(s): 1
Queries with 339 answer(s): 1
Queries with 343 answer(s): 1
Queries with 346 answer(s): 1
Queries with 348 answer(s): 2
Queries with 349 answer(s): 1
Queries with 352 answer(s): 1
Queries with 353 answer(s): 1
Queries with 356 answer(s): 1
Queries with 362 answer(s): 1
Queries with 365 answer(s): 1
Queries with 373 answer(s): 1
Queries with 377 answer(s): 1
Queries with 380 answer(s): 1
Queries with 390 answer(s): 1
Queries with 394 answer(s): 1
Queries with 403 answer(s): 1
Queries with 405 answer(s): 1
Queries with 411 answer(s): 1
Queries with 416 answer(s): 1
Queries with 435 answer(s): 1
Queries with 453 answer(s): 1
Queries with 455 answer(s): 1
Queries with 457 answer(s): 1
Queries with 485 answer(s): 1
Queries with 488 answer(s): 1
Queries with 501 answer(s): 1
Queries with 513 answer(s): 1
Queries with 521 answer(s): 1
Queries with 571 answer(s): 1
Queries with 574 answer(s): 1
Queries with 575 answer(s): 1
Queries with 577 answer(s): 1
Queries with 580 answer(s): 1
Queries with 581 answer(s): 1
Queries with 583 answer(s): 1
Queries with 594 answer(s): 1
Queries with 596 answer(s): 1
Queries with 598 answer(s): 1
Queries with 602 answer(s): 1
Queries with 605 answer(s): 1
Queries with 667 answer(s): 1
Queries with 703 answer(s): 1
Queries with 788 answer(s): 1
Queries with 802 answer(s): 1
Queries with 803 answer(s): 1
Queries with 806 answer(s): 1
Queries with 843 answer(s): 1
Queries with 863 answer(s): 1
Queries with 872 answer(s): 1
Queries with 925 answer(s): 1
Queries with 1164 answer(s): 1
Queries with 1189 answer(s): 1
Queries with 1311 answer(s): 1
Queries with 1317 answer(s): 1
Queries with 1477 answer(s): 1
Queries with 2264 answer(s): 1
Queries with 2509 answer(s): 1
Queries with 2586 answer(s): 1
Queries with 2914 answer(s): 1
Queries with 3612 answer(s): 1

In [8]:
import copy

data_path = '/root/Low_Dimension_KGC/data/FB15k-237'
valid_data_path = data_path + '/valid'
test_data_path = data_path + '/test'

all_triples = copy.deepcopy(triples)
all_query_dict = copy.deepcopy(query_dict)

entity_num = 14541
relation_num = 237

with open(valid_data_path) as fin:
    for line in fin:
        h, r, t = line.strip().split('\t')
        all_triples.append((int(h), int(r), int(t)))
        all_triples.append((int(t), int(r)+relation_num, int(h)))
        
        if (int(h), int(r)) not in all_query_dict:
            all_query_dict[(int(h), int(r))] = []
        all_query_dict[(int(h), int(r))].append(int(t))
        
        if (int(t), int(r)+relation_num) not in all_query_dict:
            all_query_dict[(int(t), int(r)+relation_num)] = []
        all_query_dict[(int(t), int(r)+relation_num)].append(int(h))

with open(test_data_path) as fin:
    for line in fin:
        h, r, t = line.strip().split('\t')
        all_triples.append((int(h), int(r), int(t)))
        all_triples.append((int(t), int(r)+relation_num, int(h)))
        
        if (int(h), int(r)) not in all_query_dict:
            all_query_dict[(int(h), int(r))] = []
        all_query_dict[(int(h), int(r))].append(int(t))
        
        if (int(t), int(r)+relation_num) not in all_query_dict:
            all_query_dict[(int(t), int(r)+relation_num)] = []
        all_query_dict[(int(t), int(r)+relation_num)].append(int(h))

In [ ]:
# 初始化变化统计字典
from collections import defaultdict

answer_changes = defaultdict(int)

# 比较两种数据集的 query 和答案数量
all_queries = set(all_query_dict.keys())
train_queries = set(query_dict.keys())

# 计算变化
for query in all_queries:
    train_answers = query_dict.get(query, [])
    all_answers = all_query_dict.get(query, [])

    train_answer_count = len(train_answers)
    all_answer_count = len(all_answers)

    # 记录变化 (train -> all)
    change = (train_answer_count, all_answer_count)
    answer_changes[change] += 1

# 转换为有序列表，按照训练集的 query 数量（train_answer_count）从小到大排序
sorted_changes = sorted(answer_changes.items(), key``=lambda x: x[0])

# 打印统计结果
print("Query answer count changes (train -> all):")
for (train_count, all_count), count in sorted_changes:
    print(f"From {train_count} to {all_count}: {count} queries")

Query answer count changes (train -> all):
From 0 to 1: 11834 queries
From 0 to 2: 366 queries
From 0 to 3: 32 queries
From 0 to 4: 1 queries
From 1 to 1: 83728 queries
From 1 to 2: 4237 queries
From 1 to 3: 475 queries
From 1 to 4: 65 queries
From 1 to 5: 13 queries
From 2 to 2: 17307 queries
From 2 to 3: 2854 queries
From 2 to 4: 507 queries
From 2 to 5: 98 queries
From 2 to 6: 19 queries
From 2 to 7: 1 queries
From 2 to 8: 1 queries
From 3 to 3: 8770 queries
From 3 to 4: 2047 queries
From 3 to 5: 525 queries
From 3 to 6: 131 queries
From 3 to 7: 26 queries
From 3 to 8: 3 queries
From 4 to 4: 5082 queries
From 4 to 5: 1463 queries
From 4 to 6: 472 queries
From 4 to 7: 119 queries
From 4 to 8: 26 queries
From 4 to 9: 5 queries
From 4 to 10: 1 queries
From 4 to 11: 1 queries
From 5 to 5: 2684 queries
From 5 to 6: 1151 queries
From 5 to 7: 397 queries
From 5 to 8: 112 queries
From 5 to 9: 35 queries
From 5 to 10: 13 queries
From 5 to 11: 1 queries
From 5 to 12: 1 queries
From 6 to 6: 1769 queries
From 6 to 7: 843 queries
From 6 to 8: 350 queries
From 6 to 9: 111 queries
From 6 to 10: 30 queries
From 6 to 11: 17 queries
From 6 to 12: 7 queries
From 6 to 13: 2 queries
From 7 to 7: 1196 queries
From 7 to 8: 603 queries
From 7 to 9: 268 queries
From 7 to 10: 123 queries
From 7 to 11: 33 queries
From 7 to 12: 6 queries
From 7 to 13: 4 queries
From 7 to 14: 2 queries
From 8 to 8: 888 queries
From 8 to 9: 432 queries
From 8 to 10: 232 queries
From 8 to 11: 115 queries
From 8 to 12: 48 queries
From 8 to 13: 11 queries
From 8 to 14: 5 queries
From 8 to 15: 1 queries
From 8 to 16: 2 queries
From 9 to 9: 722 queries
From 9 to 10: 339 queries
From 9 to 11: 187 queries
From 9 to 12: 102 queries
From 9 to 13: 44 queries
From 9 to 14: 17 queries
From 9 to 15: 12 queries
From 9 to 16: 3 queries
From 9 to 17: 1 queries
From 10 to 10: 522 queries
From 10 to 11: 257 queries
From 10 to 12: 158 queries
From 10 to 13: 98 queries
From 10 to 14: 38 queries
From 10 to 15: 18 queries
From 10 to 16: 5 queries
From 10 to 17: 2 queries
From 10 to 18: 1 queries
From 10 to 19: 1 queries
From 11 to 11: 472 queries
From 11 to 12: 225 queries
From 11 to 13: 113 queries
From 11 to 14: 73 queries
From 11 to 15: 32 queries
From 11 to 16: 21 queries
From 11 to 17: 3 queries
From 11 to 18: 4 queries
From 12 to 12: 378 queries
From 12 to 13: 149 queries
From 12 to 14: 97 queries
From 12 to 15: 61 queries
From 12 to 16: 38 queries
From 12 to 17: 26 queries
From 12 to 18: 11 queries
From 12 to 20: 1 queries
From 13 to 13: 274 queries
From 13 to 14: 120 queries
From 13 to 15: 98 queries
From 13 to 16: 46 queries
From 13 to 17: 36 queries
From 13 to 18: 18 queries
From 13 to 19: 6 queries
From 13 to 20: 2 queries
From 13 to 21: 2 queries
From 14 to 14: 274 queries
From 14 to 15: 121 queries
From 14 to 16: 81 queries
From 14 to 17: 68 queries
From 14 to 18: 26 queries
From 14 to 19: 28 queries
From 14 to 20: 14 queries
From 14 to 22: 1 queries
From 15 to 15: 185 queries
From 15 to 16: 93 queries
From 15 to 17: 64 queries
From 15 to 18: 49 queries
From 15 to 19: 30 queries
From 15 to 20: 24 queries
From 15 to 21: 7 queries
From 15 to 22: 4 queries
From 16 to 16: 174 queries
From 16 to 17: 68 queries
From 16 to 18: 43 queries
From 16 to 19: 37 queries
From 16 to 20: 31 queries
From 16 to 21: 14 queries
From 16 to 22: 4 queries
From 16 to 23: 6 queries
From 16 to 24: 2 queries
From 17 to 17: 135 queries
From 17 to 18: 60 queries
From 17 to 19: 49 queries
From 17 to 20: 45 queries
From 17 to 21: 21 queries
From 17 to 22: 13 queries
From 17 to 23: 11 queries
From 17 to 24: 5 queries
From 17 to 25: 2 queries
From 17 to 26: 1 queries
From 17 to 27: 1 queries
From 18 to 18: 81 queries
From 18 to 19: 48 queries
From 18 to 20: 46 queries
From 18 to 21: 23 queries
From 18 to 22: 24 queries
From 18 to 23: 20 queries
From 18 to 24: 11 queries
From 18 to 25: 5 queries
From 18 to 26: 3 queries
From 18 to 29: 1 queries
From 19 to 19: 77 queries
From 19 to 20: 49 queries
From 19 to 21: 24 queries
From 19 to 22: 24 queries
From 19 to 23: 20 queries
From 19 to 24: 19 queries
From 19 to 25: 9 queries
From 19 to 26: 5 queries
From 19 to 27: 1 queries
From 19 to 28: 3 queries
From 19 to 29: 2 queries
From 19 to 30: 1 queries
From 20 to 20: 67 queries
From 20 to 21: 35 queries
From 20 to 22: 28 queries
From 20 to 23: 25 queries
From 20 to 24: 22 queries
From 20 to 25: 18 queries
From 20 to 26: 15 queries
From 20 to 27: 7 queries
From 20 to 28: 4 queries
From 20 to 29: 4 queries
From 21 to 21: 56 queries
From 21 to 22: 42 queries
From 21 to 23: 28 queries
From 21 to 24: 23 queries
From 21 to 25: 14 queries
From 21 to 26: 18 queries
From 21 to 27: 7 queries
From 21 to 28: 5 queries
From 21 to 29: 4 queries
From 21 to 30: 1 queries
From 21 to 32: 1 queries
From 22 to 22: 52 queries
From 22 to 23: 32 queries
From 22 to 24: 22 queries
From 22 to 25: 16 queries
From 22 to 26: 14 queries
From 22 to 27: 8 queries
From 22 to 28: 4 queries
From 22 to 29: 5 queries
From 22 to 30: 4 queries
From 22 to 34: 1 queries
From 22 to 35: 1 queries
From 23 to 23: 48 queries
From 23 to 24: 32 queries
From 23 to 25: 24 queries
From 23 to 26: 14 queries
From 23 to 27: 12 queries
From 23 to 28: 14 queries
From 23 to 29: 10 queries
From 23 to 30: 7 queries
From 23 to 31: 6 queries
From 23 to 37: 1 queries
From 23 to 40: 1 queries
From 24 to 24: 44 queries
From 24 to 25: 18 queries
From 24 to 26: 12 queries
From 24 to 27: 13 queries
From 24 to 28: 19 queries
From 24 to 29: 13 queries
From 24 to 30: 10 queries
From 24 to 31: 8 queries
From 24 to 32: 1 queries
From 24 to 33: 2 queries
From 25 to 25: 17 queries
From 25 to 26: 10 queries
From 25 to 27: 15 queries
From 25 to 28: 12 queries
From 25 to 29: 8 queries
From 25 to 30: 10 queries
From 25 to 31: 4 queries
From 25 to 32: 4 queries
From 25 to 33: 4 queries
From 25 to 34: 1 queries
From 25 to 35: 1 queries
From 25 to 38: 1 queries
From 26 to 26: 22 queries
From 26 to 27: 15 queries
From 26 to 28: 13 queries
From 26 to 29: 9 queries
From 26 to 30: 13 queries
From 26 to 31: 11 queries
From 26 to 32: 5 queries
From 26 to 33: 5 queries
From 26 to 34: 4 queries
From 26 to 35: 2 queries
From 26 to 36: 3 queries
From 26 to 38: 2 queries
From 27 to 27: 16 queries
From 27 to 28: 13 queries
From 27 to 29: 5 queries
From 27 to 30: 11 queries
From 27 to 31: 5 queries
From 27 to 32: 4 queries
From 27 to 33: 6 queries
From 27 to 34: 9 queries
From 27 to 35: 6 queries
From 27 to 36: 5 queries
From 27 to 38: 2 queries
From 27 to 39: 1 queries
From 28 to 28: 24 queries
From 28 to 29: 11 queries
From 28 to 30: 8 queries
From 28 to 31: 5 queries
From 28 to 32: 4 queries
From 28 to 33: 11 queries
From 28 to 34: 6 queries
From 28 to 35: 5 queries
From 28 to 36: 3 queries
From 28 to 37: 4 queries
From 28 to 38: 1 queries
From 28 to 40: 2 queries
From 28 to 43: 1 queries
From 29 to 29: 15 queries
From 29 to 30: 5 queries
From 29 to 31: 4 queries
From 29 to 32: 8 queries
From 29 to 33: 9 queries
From 29 to 34: 6 queries
From 29 to 35: 7 queries
From 29 to 36: 3 queries
From 29 to 37: 1 queries
From 29 to 38: 4 queries
From 29 to 39: 1 queries
From 29 to 41: 1 queries
From 30 to 30: 13 queries
From 30 to 31: 5 queries
From 30 to 32: 9 queries
From 30 to 33: 5 queries
From 30 to 34: 6 queries
From 30 to 35: 6 queries
From 30 to 36: 10 queries
From 30 to 37: 6 queries
From 30 to 38: 3 queries
From 30 to 39: 5 queries
From 30 to 40: 3 queries
From 30 to 41: 2 queries
From 31 to 31: 13 queries
From 31 to 32: 15 queries
From 31 to 33: 4 queries
From 31 to 34: 4 queries
From 31 to 35: 5 queries
From 31 to 36: 9 queries
From 31 to 37: 4 queries
From 31 to 38: 2 queries
From 31 to 39: 4 queries
From 31 to 40: 2 queries
From 31 to 41: 3 queries
From 31 to 42: 2 queries
From 31 to 43: 1 queries
From 32 to 32: 11 queries
From 32 to 33: 4 queries
From 32 to 34: 6 queries
From 32 to 35: 8 queries
From 32 to 36: 7 queries
From 32 to 37: 4 queries
From 32 to 38: 11 queries
From 32 to 39: 3 queries
From 32 to 40: 4 queries
From 32 to 41: 2 queries
From 32 to 42: 5 queries
From 33 to 33: 12 queries
From 33 to 34: 10 queries
From 33 to 35: 4 queries
From 33 to 36: 7 queries
From 33 to 37: 3 queries
From 33 to 38: 2 queries
From 33 to 39: 4 queries
From 33 to 40: 5 queries
From 33 to 41: 8 queries
From 33 to 42: 7 queries
From 33 to 43: 2 queries
From 33 to 45: 2 queries
From 34 to 34: 8 queries
From 34 to 35: 7 queries
From 34 to 36: 7 queries
From 34 to 37: 2 queries
From 34 to 38: 4 queries
From 34 to 39: 3 queries
From 34 to 40: 4 queries
From 34 to 41: 5 queries
From 34 to 42: 3 queries
From 34 to 43: 1 queries
From 34 to 44: 3 queries
From 34 to 45: 3 queries
From 34 to 46: 1 queries
From 34 to 49: 1 queries
From 35 to 35: 9 queries
From 35 to 36: 9 queries
From 35 to 37: 1 queries
From 35 to 38: 3 queries
From 35 to 39: 4 queries
From 35 to 40: 1 queries
From 35 to 41: 4 queries
From 35 to 42: 4 queries
From 35 to 43: 6 queries
From 35 to 44: 1 queries
From 35 to 45: 3 queries
From 35 to 46: 1 queries
From 35 to 47: 1 queries
From 35 to 49: 1 queries
From 36 to 36: 6 queries
From 36 to 37: 5 queries
From 36 to 38: 2 queries
From 36 to 39: 7 queries
From 36 to 41: 4 queries
From 36 to 42: 5 queries
From 36 to 43: 3 queries
From 36 to 44: 5 queries
From 36 to 45: 4 queries
From 36 to 46: 3 queries
From 36 to 47: 2 queries
From 36 to 50: 1 queries
From 37 to 37: 4 queries
From 37 to 38: 2 queries
From 37 to 39: 3 queries
From 37 to 40: 2 queries
From 37 to 41: 4 queries
From 37 to 42: 5 queries
From 37 to 43: 5 queries
From 37 to 45: 6 queries
From 37 to 46: 5 queries
From 37 to 47: 3 queries
From 37 to 48: 4 queries
From 37 to 49: 1 queries
From 37 to 50: 1 queries
From 37 to 51: 2 queries
From 37 to 52: 1 queries
From 37 to 59: 1 queries
From 38 to 38: 9 queries
From 38 to 39: 2 queries
From 38 to 40: 3 queries
From 38 to 41: 5 queries
From 38 to 42: 6 queries
From 38 to 43: 6 queries
From 38 to 44: 1 queries
From 38 to 45: 2 queries
From 38 to 46: 3 queries
From 38 to 47: 1 queries
From 38 to 48: 4 queries
From 38 to 49: 6 queries
From 38 to 50: 3 queries
From 38 to 53: 1 queries
From 39 to 39: 7 queries
From 39 to 40: 4 queries
From 39 to 41: 1 queries
From 39 to 42: 1 queries
From 39 to 43: 3 queries
From 39 to 44: 4 queries
From 39 to 45: 1 queries
From 39 to 46: 2 queries
From 39 to 47: 6 queries
From 39 to 48: 8 queries
From 39 to 49: 2 queries
From 39 to 50: 2 queries
From 39 to 51: 3 queries
From 39 to 52: 1 queries
From 39 to 53: 2 queries
From 40 to 40: 9 queries
From 40 to 41: 2 queries
From 40 to 42: 1 queries
From 40 to 43: 7 queries
From 40 to 44: 3 queries
From 40 to 45: 6 queries
From 40 to 46: 6 queries
From 40 to 47: 1 queries
From 40 to 48: 6 queries
From 40 to 49: 2 queries
From 40 to 50: 1 queries
From 40 to 51: 4 queries
From 40 to 54: 1 queries
From 40 to 55: 1 queries
From 40 to 56: 1 queries
From 41 to 41: 4 queries
From 41 to 42: 1 queries
From 41 to 44: 4 queries
From 41 to 45: 6 queries
From 41 to 46: 2 queries
From 41 to 47: 4 queries
From 41 to 48: 2 queries
From 41 to 49: 2 queries
From 41 to 50: 3 queries
From 41 to 51: 2 queries
From 41 to 52: 2 queries
From 41 to 53: 2 queries
From 41 to 54: 4 queries
From 41 to 55: 2 queries
From 41 to 56: 1 queries
From 42 to 42: 2 queries
From 42 to 43: 4 queries
From 42 to 44: 2 queries
From 42 to 45: 2 queries
From 42 to 46: 2 queries
From 42 to 47: 3 queries
From 42 to 49: 1 queries
From 42 to 51: 4 queries
From 42 to 52: 2 queries
From 42 to 53: 5 queries
From 42 to 54: 1 queries
From 42 to 55: 1 queries
From 42 to 57: 1 queries
From 43 to 43: 4 queries
From 43 to 44: 9 queries
From 43 to 45: 3 queries
From 43 to 46: 1 queries
From 43 to 47: 4 queries
From 43 to 48: 3 queries
From 43 to 50: 6 queries
From 43 to 51: 5 queries
From 43 to 52: 2 queries
From 43 to 53: 4 queries
From 43 to 54: 7 queries
From 43 to 55: 1 queries
From 43 to 56: 3 queries
From 43 to 57: 1 queries
From 43 to 60: 1 queries
From 44 to 44: 3 queries
From 44 to 45: 3 queries
From 44 to 46: 1 queries
From 44 to 48: 2 queries
From 44 to 50: 1 queries
From 44 to 51: 3 queries
From 44 to 52: 1 queries
From 44 to 53: 2 queries
From 44 to 54: 4 queries
From 44 to 55: 1 queries
From 44 to 57: 2 queries
From 44 to 58: 1 queries
From 45 to 45: 1 queries
From 45 to 46: 4 queries
From 45 to 47: 1 queries
From 45 to 48: 1 queries
From 45 to 49: 2 queries
From 45 to 50: 1 queries
From 45 to 51: 2 queries
From 45 to 53: 1 queries
From 45 to 54: 6 queries
From 45 to 55: 3 queries
From 45 to 56: 4 queries
From 45 to 57: 1 queries
From 45 to 58: 2 queries
From 45 to 60: 1 queries
From 45 to 62: 1 queries
From 46 to 46: 2 queries
From 46 to 47: 6 queries
From 46 to 48: 1 queries
From 46 to 49: 1 queries
From 46 to 50: 1 queries
From 46 to 51: 3 queries
From 46 to 52: 2 queries
From 46 to 53: 3 queries
From 46 to 54: 8 queries
From 46 to 55: 1 queries
From 46 to 56: 3 queries
From 46 to 57: 1 queries
From 46 to 58: 1 queries
From 46 to 59: 1 queries
From 46 to 60: 1 queries
From 46 to 64: 1 queries
From 47 to 47: 4 queries
From 47 to 48: 3 queries
From 47 to 49: 2 queries
From 47 to 50: 1 queries
From 47 to 52: 1 queries
From 47 to 53: 1 queries
From 47 to 54: 4 queries
From 47 to 55: 2 queries
From 47 to 56: 2 queries
From 47 to 57: 4 queries
From 47 to 58: 4 queries
From 47 to 60: 1 queries
From 47 to 61: 1 queries
From 47 to 62: 2 queries
From 48 to 48: 3 queries
From 48 to 49: 6 queries
From 48 to 51: 3 queries
From 48 to 52: 3 queries
From 48 to 53: 2 queries
From 48 to 54: 3 queries
From 48 to 55: 5 queries
From 48 to 56: 1 queries
From 48 to 57: 2 queries
From 48 to 58: 1 queries
From 48 to 59: 2 queries
From 48 to 60: 2 queries
From 48 to 61: 2 queries
From 48 to 62: 1 queries
From 48 to 63: 1 queries
From 48 to 64: 1 queries
From 48 to 73: 1 queries
From 49 to 49: 3 queries
From 49 to 50: 3 queries
From 49 to 54: 2 queries
From 49 to 56: 6 queries
From 49 to 57: 1 queries
From 49 to 58: 2 queries
From 49 to 59: 1 queries
From 49 to 60: 4 queries
From 49 to 61: 4 queries
From 49 to 62: 1 queries
From 49 to 66: 1 queries
From 50 to 50: 4 queries
From 50 to 51: 6 queries
From 50 to 55: 3 queries
From 50 to 56: 4 queries
From 50 to 58: 1 queries
From 50 to 59: 2 queries
From 50 to 60: 5 queries
From 50 to 61: 2 queries
From 50 to 65: 2 queries
From 51 to 51: 5 queries
From 51 to 52: 2 queries
From 51 to 54: 1 queries
From 51 to 55: 1 queries
From 51 to 56: 3 queries
From 51 to 57: 2 queries
From 51 to 58: 4 queries
From 51 to 59: 3 queries
From 51 to 60: 1 queries
From 51 to 61: 2 queries
From 51 to 62: 1 queries
From 51 to 63: 2 queries
From 51 to 64: 2 queries
From 51 to 65: 1 queries
From 51 to 66: 1 queries
From 51 to 67: 1 queries
From 52 to 52: 6 queries
From 52 to 53: 2 queries
From 52 to 54: 1 queries
From 52 to 55: 1 queries
From 52 to 57: 4 queries
From 52 to 58: 1 queries
From 52 to 59: 1 queries
From 52 to 60: 1 queries
From 52 to 61: 1 queries
From 52 to 62: 2 queries
From 52 to 63: 1 queries
From 52 to 64: 5 queries
From 52 to 65: 1 queries
From 52 to 66: 3 queries
From 53 to 53: 3 queries
From 53 to 54: 3 queries
From 53 to 56: 2 queries
From 53 to 57: 1 queries
From 53 to 58: 1 queries
From 53 to 60: 4 queries
From 53 to 61: 2 queries
From 53 to 62: 1 queries
From 53 to 63: 2 queries
From 53 to 64: 4 queries
From 53 to 66: 1 queries
From 53 to 67: 1 queries
From 53 to 68: 1 queries
From 53 to 74: 1 queries
From 54 to 54: 1 queries
From 54 to 55: 2 queries
From 54 to 56: 1 queries
From 54 to 59: 2 queries
From 54 to 60: 2 queries
From 54 to 61: 1 queries
From 54 to 62: 1 queries
From 54 to 63: 2 queries
From 54 to 64: 1 queries
From 54 to 65: 2 queries
From 54 to 66: 1 queries
From 54 to 68: 1 queries
From 54 to 70: 1 queries
From 54 to 76: 1 queries
From 55 to 55: 1 queries
From 55 to 56: 2 queries
From 55 to 60: 1 queries
From 55 to 62: 1 queries
From 55 to 63: 2 queries
From 55 to 64: 1 queries
From 55 to 65: 1 queries
From 55 to 67: 1 queries
From 55 to 70: 2 queries
From 56 to 56: 1 queries
From 56 to 57: 1 queries
From 56 to 58: 1 queries
From 56 to 60: 2 queries
From 56 to 62: 1 queries
From 56 to 63: 1 queries
From 56 to 64: 1 queries
From 56 to 65: 3 queries
From 56 to 66: 1 queries
From 56 to 67: 1 queries
From 56 to 68: 1 queries
From 56 to 70: 3 queries
From 56 to 72: 1 queries
From 56 to 73: 2 queries
From 56 to 75: 1 queries
From 56 to 77: 2 queries
From 57 to 57: 1 queries
From 57 to 58: 3 queries
From 57 to 59: 1 queries
From 57 to 63: 1 queries
From 57 to 65: 1 queries
From 57 to 66: 3 queries
From 57 to 68: 1 queries
From 57 to 69: 2 queries
From 57 to 70: 2 queries
From 57 to 71: 1 queries
From 57 to 73: 1 queries
From 57 to 74: 1 queries
From 58 to 58: 1 queries
From 58 to 59: 2 queries
From 58 to 60: 1 queries
From 58 to 64: 2 queries
From 58 to 65: 1 queries
From 58 to 66: 1 queries
From 58 to 67: 1 queries
From 58 to 68: 1 queries
From 58 to 69: 1 queries
From 58 to 70: 2 queries
From 58 to 71: 1 queries
From 58 to 72: 2 queries
From 58 to 75: 1 queries
From 58 to 76: 1 queries
From 59 to 61: 1 queries
From 59 to 66: 1 queries
From 59 to 68: 1 queries
From 59 to 71: 1 queries
From 59 to 73: 3 queries
From 59 to 74: 1 queries
From 59 to 75: 1 queries
From 59 to 76: 1 queries
From 59 to 78: 1 queries
From 60 to 60: 3 queries
From 60 to 61: 1 queries
From 60 to 65: 2 queries
From 60 to 66: 2 queries
From 60 to 67: 1 queries
From 60 to 68: 1 queries
From 60 to 71: 2 queries
From 60 to 72: 3 queries
From 60 to 74: 1 queries
From 61 to 61: 1 queries
From 61 to 62: 2 queries
From 61 to 63: 1 queries
From 61 to 64: 1 queries
From 61 to 65: 1 queries
From 61 to 67: 1 queries
From 61 to 68: 1 queries
From 61 to 69: 1 queries
From 61 to 71: 1 queries
From 61 to 82: 1 queries
From 62 to 62: 2 queries
From 62 to 63: 1 queries
From 62 to 67: 1 queries
From 62 to 68: 1 queries
From 62 to 69: 1 queries
From 62 to 70: 2 queries
From 62 to 74: 1 queries
From 62 to 76: 1 queries
From 62 to 77: 1 queries
From 62 to 83: 1 queries
From 63 to 63: 1 queries
From 63 to 65: 1 queries
From 63 to 66: 1 queries
From 63 to 74: 1 queries
From 63 to 75: 1 queries
From 63 to 76: 2 queries
From 63 to 77: 2 queries
From 63 to 79: 2 queries
From 63 to 82: 1 queries
From 64 to 65: 1 queries
From 64 to 66: 1 queries
From 64 to 67: 1 queries
From 64 to 68: 1 queries
From 64 to 69: 1 queries
From 64 to 72: 2 queries
From 64 to 73: 2 queries
From 64 to 74: 1 queries
From 64 to 75: 1 queries
From 64 to 79: 2 queries
From 64 to 84: 1 queries
From 64 to 85: 1 queries
From 65 to 66: 1 queries
From 65 to 73: 3 queries
From 65 to 74: 1 queries
From 65 to 76: 2 queries
From 65 to 77: 1 queries
From 65 to 79: 1 queries
From 65 to 80: 2 queries
From 65 to 81: 1 queries
From 65 to 88: 1 queries
From 66 to 68: 1 queries
From 66 to 72: 1 queries
From 66 to 74: 1 queries
From 66 to 76: 1 queries
From 66 to 77: 2 queries
From 66 to 78: 4 queries
From 66 to 79: 1 queries
From 66 to 81: 1 queries
From 66 to 82: 2 queries
From 66 to 83: 1 queries
From 67 to 69: 1 queries
From 67 to 73: 2 queries
From 67 to 74: 1 queries
From 67 to 75: 2 queries
From 67 to 78: 1 queries
From 67 to 80: 1 queries
From 67 to 81: 2 queries
From 67 to 82: 2 queries
From 67 to 84: 3 queries
From 68 to 69: 1 queries
From 68 to 70: 1 queries
From 68 to 74: 1 queries
From 68 to 77: 1 queries
From 68 to 83: 1 queries
From 68 to 85: 1 queries
From 69 to 69: 1 queries
From 69 to 70: 1 queries
From 69 to 71: 1 queries
From 69 to 78: 1 queries
From 69 to 79: 2 queries
From 69 to 80: 1 queries
From 69 to 81: 1 queries
From 69 to 82: 1 queries
From 69 to 83: 1 queries
From 69 to 85: 1 queries
From 69 to 86: 1 queries
From 69 to 87: 3 queries
From 69 to 89: 1 queries
From 70 to 72: 1 queries
From 70 to 78: 1 queries
From 70 to 81: 1 queries
From 70 to 82: 1 queries
From 70 to 83: 1 queries
From 70 to 86: 1 queries
From 70 to 88: 1 queries
From 70 to 96: 1 queries
From 71 to 71: 1 queries
From 71 to 72: 2 queries
From 71 to 73: 1 queries
From 71 to 75: 1 queries
From 71 to 80: 1 queries
From 71 to 81: 1 queries

In [6]:
def read_file(file_path):
    triplets = {}
    with open(file_path, 'r') as file:
        for line in file:
            head, relation, tail, rank = line.strip().split()
            rank = int(rank)
            key = (head, relation, tail)
            if key not in triplets or triplets[key] > rank:
                triplets[key] = rank
    return triplets

def merge_and_calculate_metrics(file1, file2):
    triplets1 = read_file(file1)
    triplets2 = read_file(file2)
    
    # 合并两个字典，并取最小rank
    final_triplets = {**triplets1, **{k: min(triplets1.get(k, float('inf')), triplets2[k]) for k in triplets2}}
    
    # 计算MR, MRR, HIT@K
    ranks = list(final_triplets.values())
    mr = sum(ranks) / len(ranks)
    mrr = sum(1.0 / rank for rank in ranks) / len(ranks)
    hits = {k: sum(1 for rank in ranks if rank <= k) / len(ranks) for k in [1, 3, 10, 50, 100]}
    
    return mr, mrr, hits

# 使用该函数
file1 = '/root/Low_Dimension_KGC/models/FB15k-237_1005/test_detail_result_1.txt'
file2 = '/root/Low_Dimension_KGC/models/FB15k-237_1005/test_detail_result_2.txt'
# file1 = '/root/Low_Dimension_KGC/models/LorentzKG_FB15k-237_40/test_detail_result.txt'
# file2 = '/root/Low_Dimension_KGC/models/RotatE_FB15k-237_102/test_detail_result.txt'
mr, mrr, hits = merge_and_calculate_metrics(file1, file2)

# 打印结果
print(f'MR: {mr}')
print(f'MRR: {mrr}')
for k in sorted(hits.keys()):
    print(f'HIT@{k}: {hits[k]:.4f}')

MR: 198.76710153425194
MRR: 0.39385005402396805
HIT@1: 0.3111
HIT@3: 0.4263
HIT@10: 0.5568
HIT@50: 0.7197
HIT@100: 0.7806